.sidebar-style {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-button {
    height: 50px;
    width: 245px;
    border: none;
}

@media(min-width: 768px) {
    body {
        padding-left: 250px;
    }
    
    #sidebar {
        width: 250px;
    }    
    
}
